@model IEnumerable<SendGrid_Log.Models.EmailEvent>
@{
    ViewData["Title"] = "ITS SendGrid Email Log";
}
<script type="text/javascript">
    $(document).ready(function () {
        $("#searchString").change(function () {
            $("#hdnSearchString").val($(this).val());
        });
        $("#searchString").keypress(function (e) {
            if (e.which == 13) {
                $("#hdnSearchString").val($(this).val());
                $("form#Search").submit();
            };
        });
        $("#selectShowRecords").change(function () {
            $("#hdnShowRecords").val($(this).val());
            $("form#Search").submit();
        });
    });
</script>
<h2>ITS SendGrid Email Log</h2>
<a href="@Url.Action("LogEvent","Home")" class="btn btn-block bg-primary">Post Events</a>
<br />

<div id="SearchOptions" class="well well-sm">

        <div class="input-group" id="adv-search">
            <input type="text" id="searchString" placeholder="Search" class="form-control" value="@ViewBag.searchString" />
            <div class="input-group-btn">
                <div class="btn-group" role="group">
                    <div class="dropdown dropdown-lg">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><span class="caret"></span></button>
                        <div class="dropdown-menu" id="searchmenu" role="menu">
                            <form asp-controller="Home" asp-action="Index" id="search" method="post" class="form-horizontal">
                                <input type="hidden" id="pageNo" name="pageNo" value="@ViewBag.pageNo" />
                                <input type="hidden" id="hdnSearchString" name="searchString" placeholder="Search" class="form-control" value="@ViewBag.searchString" />
                                <input type="hidden" id="hdnShowRecords" name="showRecords" value="" />
                                    <div class="form-group">
                                        <label for="searchField">Filter by</label>
                                        <select class="form-control" name="searchField" id="searchField">
                                            <option value="email" selected>Email Address</option>
                                            <option value="event">Event Type</option>
                                        </select>
                                    </div>
                                    <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
</form>
</div>
                    </div>
                    <button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></button>
                </div>
            </div>
           
        </div>
    @Html.ActionLink("Clear", "index", "home")
    <div class="form-group" id="showRecords">
        <label for="selectShowRecords">Display</label>
        <select name="selectShowRecords" id="selectShowRecords" class="form-control">
            <option value="10" selected>10</option>
            <option value="25">25</option>
            <option value="50">50</option>
            <option value="100">100</option>
        </select>
    </div>  
   

</div> 
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.eventTimestamp)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.response)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.@event)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.email)
                    </th>
                    <th class="email-info">
                        Info
                    </th>
                </tr>
            </thead>
            <tbody>
                @if (Model.Count() > 0)
                {
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.eventTimestamp)
                            </td>
                            <td>
                                @Html.DisplayFor(model => item.response)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.@event)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.email)
                            </td>
                            <td class="email-info">
                                <span class="fa fa-info-circle"></span>
                            </td>
                        </tr>
                    }
                }
                else
                {
                    <tr><td colspan="5">There are no events logged.</td></tr>

                }

            </tbody>
            <tfoot>
                <tr>
                    @{
                        int endRecordNo = 0;
                        if (ViewBag.selectedRecords < ViewBag.noOfRecords)
                        {
                            endRecordNo = (ViewBag.noOfRecords * (ViewBag.pageNo - 1)) + ViewBag.selectedRecords;
                        }
                        else if (ViewBag.selectedRecords >= ViewBag.noOfRecords)
                        {
                            endRecordNo = ViewBag.noOfRecords;
                        }
                        else
                        {
                            endRecordNo = ViewBag.noOfRecords * ViewBag.pageNo;
                        }

                    }
                    <td colspan="3">Showing @ViewBag.startRecordNo to @endRecordNo of @ViewBag.totalRecords</td>
                    <td colspan="2">
                        @{
                            decimal noOfPages = (ViewBag.totalRecords / ViewBag.noOfRecords);
                            int c = 1;
                            if (ViewBag.pageNo == 0)
                            {
                                ViewBag.pageNo = 1;
                            }
                            while (c <= (noOfPages + 1))
                            {
                                if (ViewBag.pageNo == c)
                                {
                                    <span>@ViewBag.pageNo</span>
                                }
                                else
                                {
                                    <span>@Html.ActionLink((c).ToString(), "FilterIndex", "Home", new { searchString = @ViewBag.searchString, pageNo = c, showRecords = ViewBag.noOfRecords })</span>
                                }

                                c++;
                            }
                        }
                    </td>
                </tr>
            </tfoot>
        </table>
