@model IEnumerable<SendGrid_Log.Models.EmailEvent>
@{
    ViewData["Title"] = "ITS SendGrid Email Log";
}

<h2>ITS SendGrid Email Log</h2>
<a href="@Url.Action("LogEvent","Home")">Post Event</a>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.eventTimestamp)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.@event)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.email)
            </th>            
            <th class="email-info">
                Info
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.eventTimestamp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.@event)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.email)
                </td>
                <td class="email-info">
                    <span class="fa fa-info-circle"></span>
                </td>
            </tr>
        }
    </tbody>
</table>